name: test-terraform

on: [push]

jobs:
    test: 
        runs-on: ubuntu-latest
        environment:
            name: test
        steps:
        - uses: actions/checkout@v3

        - name: Set up Terraform
          uses: hashicorp/setup-terraform@v2
          with:
            terraform_version: 1.15.0
            terraform_wrapper: true

        - name: Terraform fmt
          id: fmt
          run: terraform fmt --check
          continue-on-error: true

        - name: Terraform init
          id: init
          env:
            project_id: ${{ secrets.gcp_project_id }}
          run: terraform init -backend=false -input=false -var project_id="$project_id"

        - name: Terraform validate
          id: validate
          run: terraform validate

        - name: tfsec
          uses: aquasecurity/tfsec-action@v1.0.3
          with:
            soft_fail: true